
params {
    // Workflow flags
    reads = ''
    single_end = false // the pipeline only supports paired end reads
    outdir = './results'
    publish_dir_mode = 'copy'

    // trimming
    clip_r1 = 0
    clip_r2 = 0
    three_prime_clip_r1 = 0
    three_prime_clip_r2 = 0
    skip_trimming = false

    // correcting
    correct_kmer = 31
    skip_correcting = false

    // cycle assmebly
    seeds = ''
    reference = "/home/nick/Bureau/Programming/nextflow/data/ggal/transcriptome.fa"
    reference_type = "nucl"
    initial_scaffolds = ''
    maxit = 10

    cpus = 8
}

profiles {
  docker {
    docker.enabled = true
    // dockerhub image location
    process.container = 'poleanalyse/cycleassembler:v1.0.0'
  }
}
